[submodule "fabric-protos"]
	path = fabric-chaincode-shim/fabric-protos
	url = https://github.com/hyperledger/fabric-protos.git
[submodule "ocaml-protoc-plugin"]
	path = ocaml-protoc-plugin
	url = https://github.com/bobot/ocaml-protoc-plugin.git
